raspi/test/testAll

webServer/node_modules/
raspi/test/testAll/node_modules/

.DS_Store
.vscode/
venvRLP/
.conda/
webServer/.DS_Store

raspi/__pycache__/
raspi/modelos/__pycache__/
raspi/modules/__pycache__/

webServer/package-lock.json
webServer/pnpm-lock.yaml
raspi/test/testAll/pnpm-lock.yaml

audios_modelo/